<div class="grid">
    <!-- <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orders</span>
                    <div class="text-900 font-medium text-xl">152</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">24 new </span>
            <span class="text-500">since last visit</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Revenue</span>
                    <div class="text-900 font-medium text-xl">$2.100</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">%52+ </span>
            <span class="text-500">since last week</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">QRs</span>
                    <div class="text-900 font-medium text-xl">28441</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-qrcode text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">520  </span>
            <span class="text-500">newly registered</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Comments</span>
                    <div class="text-900 font-medium text-xl">152 Unread</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">85 </span>
            <span class="text-500">responded</span>
        </div>
    </div> -->

    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Marcas comerciales</h5>
            <p-table #dt1 [value]="trademarks" [paginator]="true" [rows]="5" responsiveLayout="scroll" [globalFilterFields]="['name','code']">
                <ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
                        <div>
                            <button pButton label="Clear" class="p-button-outlined mb-2 mr-4" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                            </span>
                        </div>
                        <button pButton label="Crear" class="p-button-outlined mb-2" icon="pi pi-plus" (click)="showCreateBrandDialog()"></button>
					</div>
				</ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Marca comercial <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Codigo <p-sortIcon field="price"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trademarks>
                    <tr>
                        <td style="width: 35%; min-width: 7rem;">{{trademarks.name}}</td>
                        <td style="width: 35%; min-width: 8rem;">{{trademarks.code}}</td>
                        <td style="width: 15%;">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            <button pButton pRipple type="button" icon="pi pi-pencil" (click)="editBrand(trademarks._id)" class="p-button p-component p-button-text p-button-icon-only"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteBrand(trademarks._id)" class="p-button p-component p-button-text p-button-icon-only"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog header="Crear marca comercial" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <!-- <span class="p-text-secondary block mb-5">Crear marca comercial</span> -->
    <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem">Nom</label>
        <input pInputText id="name" class="flex-auto" [(ngModel)]="name" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="code" class="font-semibold w-6rem">Codi</label>
        <input pInputText id="code" class="flex-auto" [(ngModel)]="code" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="createBrand()" />
    </div>
</p-dialog>